    
                    /* Reset */
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            /* Body */
            body {
                /* background: #0000; */
                background-color: #1e2020;
                /* color: #fff; */
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Helvetica Neue", sans-serif;
            }

            /* Container */
            /* .container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
            } */

            /* Search Input */
            .search {
                padding: 5px 15px;
                border-radius: 8px;
                border:#afd8da ;
                outline: none;
                background: #5c6061;
                color: #e4edf0;
                width: 250px;
            }

            /* Card wrapper */
            /* .card-wrapper {
                display: flex;
                gap: 20px;
            } */

            /* Card */
            .card {
                position: relative;
                width: 200px;
                height: 300px;
                border-radius: 15px;
                overflow: hidden;
                /* cursor: pointer; */
                box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
            }

            /* Background image */
            .bg-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            /* Blur layer */
            .blurred-layer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: bottom;
                filter: blur(10px);
                z-index: 1;
                /* backdrop-filter: blur(8px);
                background: rgba(0, 0, 0, 0.3);
                opacity: 0;
                transition: 0.3s; */
                mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
                mask-size: 100% 100%;
                mask-repeat: no-repeat;

                /* for Chrome/Safari */
                -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
                -webkit-mask-size: 100% 100%;
                -webkit-mask-repeat: no-repeat;
            }

            /* Content */
            .content {
                position: absolute;
                bottom: 20px;
                left: 20px;
                /* right: 15px; */
                /* opacity: 0; */
                /* transform: translateY(20px); */
                /* transition: 0.3s; */
                color: white;
                z-index: 2;
            }

            .content h3 {
                font-size: bold;
                font-size: 18px;
                margin-bottom: 6px;
            }

     .content p {
        font-size: 14px;
        color: #ddd;
        line-height: 1.4;
    }

            /* Hover effects */
            /* .card:hover .blurred-layer {
                opacity: 1;
            }

            .card:hover .content {
                opacity: 1;
                transform: translateY(0);
            } */
    