*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0%;
    padding: 0%;
    /* background-image: url(https://images.unsplash.com/photo-1654935246350-82d0a6ffd3e7?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center; */
}
/*
.main{
    width: 30%;
    height: 60%;
    background-color:black;
    color:white;
}

.hero{
    margin: 20px 30px 22px 28px;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: turquoise;
}
    */
/* 
#car1{
    position: absolute;
    width: 100px;
    height: 120px;
    background-color: rebeccapurple;
}

#car2{
    position: absolute;
    top: 30%;
    left: 10%; 
    right: 20%; 
    width: 110px;
    height: 130px;
    background-color: aqua;
}

#car3{
    width: 130px;
    height: 120px;
    background-color: burlywood;
}

#box{
    /* margin: 10px; 
    position: relative;
    width: 330px;
    height: 320px;
    background-color: red;

}

#innerbox{
    position: absolute;
    left: 40%;
    width: 130px;
    height: 120px;
    background-color: rgb(241, 154, 40);
}
*/

#boxbig{
    display: flex;
    /* justify-content: space-between; */
    margin: 10%;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 16, 15);
}

#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(31, 57, 128);
}

#box2{
    width: 120px;
    height: 130px;
    background-color: rgb(160, 39, 49);
}

#box3{
    width: 100px;
    height: 100px;
    background-color: rgb(43, 125, 172);
}

#box4{
    width: 100px;
    height: 100px;
    background-color: rgb(172, 43, 170);
}
#box5{
    width: 100px;
    height: 100px;
    background-color: rgb(172, 43, 101);
}
#box6{
    width: 100px;
    height: 100px;
    background-color: rgb(49, 140, 16);
}
#box7{
    width: 100px;
    height: 100px;
    background-color: rgb(12, 67, 99);
}
#box8{
    width: 100px;
    height: 100px;
    background-color: rgb(18, 123, 86);
}